<h1>{{ title }}</h1>

{% for p in paragraphs %}
<p>{{ p }}</p>
{% endfor %}

<div class="home-actions">

  <a href="{{ base_url }}dictionary.html" class="action-card">
    <h3>Browse the dictionary</h3>
    <p>Explore all lexical entries alphabetically.</p>
  </a>

  <a href="{{ base_url }}search.html" class="action-card">
    <h3>Full search</h3>
    <p>Search by lemma & forms, meanings or examples.</p>
  </a>

  <a href="{{ base_url }}instructions.html" class="action-card">
    <h3>Instructions</h3>
    <p>How to use the dictionary.</p>
  </a>

</div>


<h2>{{ bibtex_title }}</h2>
<div class="cite-block">
  <div class="tabs mb-2">
    <button class="btn btn-outline-accent btn-accent active me-2"
            onclick="showTab('plain', this)">
      Plain text
    </button>
    <button class="btn btn-outline-accent btn-accent"
            onclick="showTab('bibtex', this)">
      BibTeX
    </button>
  </div>


<div class="tab-content">

  <div id="plain" class="cite-content active">
    <p>{{ citation_text | safe}}</p>
  </div>

  <div id="bibtex" class="cite-content">
    <div class="bibtex-header">
      <span class="copy-icon"
            title="Copy to clipboard"
            onclick="copyCitation('bibtex')">
        📋
      </span>
    </div>
    <pre>{{ citation_bibtex | safe}}</pre>
  </div>
</div>

</div>

<script>
function showTab(name, button) {
  // кнопки
  document.querySelectorAll('.tabs .btn')
    .forEach(btn => btn.classList.remove('active'));
  button.classList.add('active');

  // блоки
  document.querySelectorAll('.cite-content')
    .forEach(block => block.classList.remove('active'));

  document.getElementById(name).classList.add('active');
}

function copyCitation(id) {
  const text = document
    .querySelector('#' + id + ' pre')
    .innerText;

  navigator.clipboard.writeText(text);
}
</script>
