<h1>Search</h1>

<p>Choose a search mode: Full text, Lemma & forms, Translation, Examples and Example translation.</p>
<p>You can use virtual keyboard to type special symbols.</p>

<div id="virtual-keyboard" class="mb-3">
  <span class="virtual-key">Ӏ</span>
  <span class="virtual-key">ˤ</span>
  <span class="virtual-key">ʷ</span>
  <span class="virtual-key">ʲ</span>
  <span class="virtual-key">ʼ</span>
  <span class="virtual-key">ː</span>
  <span class="virtual-key">ʁ</span>
  <span class="virtual-key">χ</span>
  <span class="virtual-key">ɢ</span>
  <span class="virtual-key">ɣ</span>
  <span class="virtual-key">ʔ</span>
  <span class="virtual-key">ʒ</span>
  <span class="virtual-key">ǯ</span>
  <span class="virtual-key">š</span>
  <span class="virtual-key">č</span>
  <span class="virtual-key">ɐ</span>
  <span class="virtual-key">ɞ</span>
  <span class="virtual-key">ɨ</span>
  <span class="virtual-key">ä</span>
  <span class="virtual-key">ü</span>
</div>

<div class="input-group input-group-lg mb-3">

  <!-- Dropdown -->
  <button
    id="search-mode-btn"
    class="btn dropdown-toggle search-mode-btn"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    data-mode="all">
    Full text
  </button>

  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item active" href="#" data-mode="all">
        Full text
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#" data-mode="lemma">
        Lemma & forms
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#" data-mode="translation">
        Translation
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#" data-mode="example">
        Examples
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#" data-mode="example_translation">
        Example translation
      </a>
    </li>
  </ul>

  <!-- Input -->
  <input
    id="search"
    type="text"
    class="form-control"
    placeholder="Search"
    aria-label="Search">

</div>



<div id="results"></div>

<script src="{{ base_url }}static/full_dict.js"></script>
<script src="{{ base_url }}static/search.js"></script>
