{# templates/word_template.html #}

<h1>
  {{ data["Lexical entry"] }}
</h1>

<div class="entryinfo">
  <p>
    <b>{{ data["Part of Speech"] }}</b> <br>
    {% if complex_poses[data["lexeme_id"]] %}
      {{ complex_poses[data["lexeme_id"]] }}. <br>
    {% endif %}
    Collected by {{ data["who_collected"] }}
  </p>

  <p>
    <b>Orthography:</b> {{ data["Orthography"] }} <br>
    <b>Glossing label:</b>
    {{ glossing_labels.get(data["lexeme_id"], "") }}
  </p>
</div>

{# ===== Meanings ===== #}

<h2>Meanings</h2>

<ol class="list-group list-group-numbered mb-4">
{% for m in data["meanings"] if m.meaning or m.meaning_rus %}
  <li class="list-group-item">

    <b>‘{{ m.meaning_rus }}’</b> — <b>‘{{ m.meaning }}’</b>

    {% if m.examples %}
      <ul class="mt-2">
        {% for ex in m.examples %}
          <li class="example">
            <i>{{ ex.original }}</i>
            {% if ex.cyr %}
              <br>
              <i>{{ ex.cyr }}</i>
            {% endif %}
            <br>
            ‘{{ ex.rus }}’
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </li>
{% endfor %}
</ol>

{# ===== Inflection ===== #}

<h2>Inflection</h2>
{% if data["inflection_data"] %}

<table class="table table-sm table-borderless w-auto inflection-table">
  {% for k, v in data["inflection_data"].items() %}
    {% if v %}
    <tr>
      <th>{{ k }}</th>
      <td>{{ v }}</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>

{% else %}
  <p>See <a href="{{ base_url }}{{ data['main_word_id'] }}">{{data["main_word"]}}</a>.</p>

{% endif %}

