{# templates/word_template.html #}

<h1>
  {{ data["Lexical entry"] }}
</h1>

<p class="text-muted">
  <b>Orthography:</b> {{ data["Orthography"] }} <br>
  <b>Part of speech:</b> {{ data["Part of Speech"] }} <br>
  <b>Glossing label:</b>
  {{ glossing_labels.get(data["lexeme_id"], "") }}
</p>

<hr>

{# ===== Meanings ===== #}

<h2>Meanings</h2>

<ol>
{% for m in data["meanings"] if m.meaning or m.meaning_rus %}
  <li class="mb-3">

    <div>
      <b>{{ m.meaning }}</b>
      {% if m.meaning_rus %}
        — {{ m.meaning_rus }}
      {% endif %}
    </div>


    {% if m.examples %}
      <ul class="mt-2">
        {% for ex in m.examples %}
          <li class="example">
            <i>{{ ex.original }}</i>
            {% if ex.cyr %}
              / <i>{{ ex.cyr }}</i>
            {% endif %}
            — ‘{{ ex.rus }}’
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </li>
{% endfor %}
</ol>

{# ===== Inflection ===== #}

{% if data["inflection_data"] %}
<hr>
<h2>Inflection</h2>

<table class="table table-sm table-borderless w-auto">
  {% for k, v in data["inflection_data"].items() %}
    {% if v %}
    <tr>
      <th>{{ k }}</th>
      <td>{{ v }}</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
{% endif %}
